/*
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      /* / width: 400px; / */
      -webkit-appearance: none;
      appearance: none;
      background-color: #ffffff;
    }
  
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #f8e405;
      margin-top: -1px;
    }
  
    input[type='range']::-webkit-slider-thumb {
      /* / width: 10px; / */
      -webkit-appearance: none;
      /* / height: 10px; / */
      /* / cursor: ; / */
      background: #f8e405;
      box-shadow: -400px 0 0 400px #f8e405;
    }
  
  }
  
  /** FF*/
  .slider::input[type="range"]::-moz-range-progress {
    background-color: #f8e405;
  }
  
  .slider::input[type="range"]::-ms-fill-lower {
    background-color: #f8e405;
  }